<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Layouts</title>
  </head>
  <body>
    <h1>Layouts</h1>
    <p>
      <a href="1_standard.html">Standard</a>
    </p>
    <p>
      <a href="2_float_old.html">Float (Old Method)</a>
    </p>
    <p>
      <a href="3_flex_new.html">Flex Liquid Layout (A Newer Approach)</a>
    </p>
    <p>
      <a href="4_media-queries.html">Media Queries</a>
    </p>
    <p>
      <a href="5_flex_adaptive.html">Flex Adaptive</a>
    </p>
    <p>
      <a href="6_flex_responsive.html">Flex Responsive</a>
    </p>
  </body>
</html>
